@charset "UTF-8";

body {
    background-image: url("/imagens/fundo-madeira.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    background-position: static;
    
    width: 100vw;
    height: 100vh;
}

img {
    display: block;
    margin: auto;



}
div > img {
    
}
iframe {
    display: block;
    margin: auto;

    width: 500px;
    height: 700px;

    border: red solid;
}

