@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html, body {
    height: 100vh;
    width: 100vw;

     background-color: red;
}
body {
    background: url("/imagens/fundo-madeira.jpg") no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}
main {
    position: relative;
    height: 100vh;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 627px;
    width: 311px;
    background-color: blue;

    background: url("/imagens/frame-iphone.png") no-repeat;
}
#tela {
    position: relative;
    top: 80px;
    left: 22px;

    width: 266px;
    height: 471px;
}
#redessociais  img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.438);
    box-sizing: border-box;

    transition: 0.5s;
}
#redessociais  img:hover {
    border: solid 2px rgba(245, 245, 245, 0.384);
    transform: scale(1.2)
}


#redessociais {
    text-align: right;

    
}


